<p class="alert alert-info" role="alert" phx-click="lv:clear-flash" phx-value-key="info"><%= Phoenix.Flash.get(@flash, :info) %></p>

<p class="alert alert-danger" role="alert" phx-click="lv:clear-flash" phx-value-key="error"><%= Phoenix.Flash.get(@flash, :error) %></p>

<%= @inner_content %>

<div class="py-20"></div>

<% # = live_render(@socket, RauversionWeb.TrackLive.Player, id: "global-main-player", session: %{}, sticky: true) %>
