<div>
  <h2><%= @title %></h2>

    <%= case @action do 
      :new -> live_component(
                  RauversionWeb.PlaylistLive.CreateFormComponent,
                  id: "playlist-new"
                )

      :edit -> live_component(
                  RauversionWeb.PlaylistLive.EditFormComponent,
                  id: "edit-new",
                  changeset: @changeset
                  # phx-target={@myself}
                )
      _ -> "no match on #{@title}"
    end  %>

</div>
