@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  /*margin-bottom: 20px;*/
  border: 1px solid transparent;
  /*border-radius: 4px;*/
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert p {
  margin-bottom: 0;
}

.alert:empty {
  display: none;
}

.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected {
  cursor: wait;
}

.phx-disconnected * {
  pointer-events: none;
}

.phx-modal {
  opacity: 1 !important;
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.node-codeBlock {
  border: 2px solid #fff;
}

.phx-modal-content {
  /*background-color: #fefefe;*/
  margin: 15vh auto;
  padding: 20px;
  /*border: 1px solid #888;*/
  /*width: 80%;*/
}

.phx-modal-close {
  /*color: #aaa;*/
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  /*color: black;**/
  text-decoration: none;
  cursor: pointer;
}





/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    overflow: hidden;
    width: 80px;
    -webkit-appearance: none;
    background-color: #f7f70d;
  }

  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #0a0801;
    margin-top: -1px;
  }

  input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: #f98b05;
    box-shadow: -80px 0 0 80px #000;
  }

}

/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #f98b05;
}

input[type="range"]::-moz-range-track {
  background-color: #0a0801;
}

/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #f98b05;
}

input[type="range"]::-ms-fill-upper {
  background-color: #9a905d;
}

input[type="range"].vertical {
  transform: rotate(270deg);
}