<!DOCTYPE html>
<html class="h-full" lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Error onpage</title>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
  </head>

  <body class="h-full dark">

    <div class="min-h-full bg-black px-4 py-16 sm:px-6 sm:py-24 md:grid md:place-items-center lg:px-8">
      <div class="mx-auto max-w-max">
        <main class="sm:flex">
          <p class="text-4xl font-bold tracking-tight text-brand-600 sm:text-5xl">500</p>
          <div class="sm:ml-6">
            <div class="sm:border-l sm:border-gray-200 sm:pl-6">
              <h1 class="text-4xl font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-5xl">
                <%= gettext("Something went wrong") %>
              </h1>
              <p class="mt-1 text-base text-gray-500 dark:text-gray-300">
                <%= gettext("Please check the URL in the address bar and try again.") %>
              </p>
            </div>
            <div class="mt-10 flex space-x-3 sm:border-l sm:border-transparent sm:pl-6">
              <a href="/" class="inline-flex items-center rounded-md border border-transparent bg-brand-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-brand-700 focus:outline-none focus:ring-2 focus:ring-brand-500 focus:ring-offset-2">
                <%= gettext("Go back home") %>
              </a>
              <a href="#" class="inline-flex items-center rounded-md border border-transparent bg-brand-100 px-4 py-2 text-sm font-medium text-brand-700 hover:bg-brand-200 focus:outline-none focus:ring-2 focus:ring-brand-500 focus:ring-offset-2">
                <%= gettext("Contact support") %>
              </a>
            </div>
          </div>
        </main>
      </div>
    </div>

  </body>
</html>